@media (max-width: 360px) {
    .surveyQuestionItem .custom-control {
        display: block;
        margin-right: 0
    }
}

@media (max-width: 491px) {
    header .dFlexSpace {
        justify-content: center
    }

    header .profileNav {
        margin-bottom: 6px
    }

    .language {
        text-align: center;
    }

    .language ul li {
        margin-bottom: 5px
    }


}

@media (min-width:500px) {}

@media (max-width: 500px) {
    footer .dFlexSpace {
        justify-content: center;
        flex-wrap: wrap
    }

    footer p {
        text-align: center
    }

    /* fillter */
    .filterSearch li {
        width: 100%
    }

    .filterSearch span {
        display: block;
    }

    .filterSearch .form-control,
    .filterSearch .searchInput {
        width: 100%
    } 
    /* fillter */
     .col-xs-6 {
        width: 100%
    }
}

@media (min-width:500px) and (max-width:600px) {}

@media (max-width:600px) {}

@media (min-width:768px) {}

@media (max-width:767px) {
    .newSlider .newBody {
        display: block;
    }

    .newSlider .owl-nav {
        top: 157px;
    }

    .filterSearch .dFlexSpace {
        justify-content: center
    }

    .mainSurveyBlock .surveyList,
    .announcement .surveyList {
        display: block;
    }

    .surveyList .btnCustom {
        margin-top: 10px
    }
}

@media (max-width:991px) {
    .filterSearch li {
        margin-bottom: 5px
    }
}

@media (max-width:1199px) {}

@media (min-width:768px) and (max-width:991px) {}

@media (min-width:992px) and (max-width:1199px) {}

@media (max-width:1207px) {}



@media (max-width: 575px) {
    .offerSlider .owl-next {
        left: auto;
        bottom: auto;
        right: 25px;
        top: -65px;
    }
}

@media (max-width: 1020px) {
    .sliderProImg {
        margin-left: 0;
        padding: 5px;
    }
}

@media (min-width: 1200px) {}

@media (min-width:767px) and (max-width:1208px) {}

@media (max-width:1200px) {
    .breadTitle .breadcrumb {
        margin-bottom: 10px
    }
}