/* Start Genral */

/* *********
mainColor:147ABD;


********* */

@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,600,700,900');



body {
    font-family: 'Cairo', sans-serif !important;
    /* overflow-x: hidden */
    direction: ltr;
    text-align: left
}

ul {
    list-style: none;
    margin-bottom: 0
}


a:hover,
a:focus {
    text-decoration: none;
    color: #000;
    outline: none;
}

button:focus,
.btn:focus,
.form-control:focus,
select {
    outline: 0 !important;
    box-shadow: none;
}


* {
    border: 0 none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif !important;
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.Pad_Top_5 {
    padding-top: 5px;
}

.Pad_Top_10 {
    padding-top: 10px;
}

.Pad_Top_15 {
    padding-top: 15px;
}

.Pad_Top_20 {
    padding-top: 20px;
}

.Pad_Bottom_5 {
    padding-bottom: 5px;
}

.Pad_Bottom_10 {
    padding-bottom: 10px;
}

.Pad_Bottom_15 {
    padding-bottom: 15px;
}

.padBottom20 {
    padding-bottom: 20px;
}

.Mar_Top_5 {
    margin-top: 5px;
}

.Mar_Top_10 {
    margin-top: 10px;
}

.Mar_Top_15 {
    margin-top: 15px;
}

.Mar_Top_20 {
    margin-top: 20px;
}

.Mar_Bottom_5 {
    margin-bottom: 5px;
}

.Mar_Bottom_10 {
    margin-bottom: 10px;
}

.Mar_Bottom_15 {
    margin-bottom: 15px;
}

.Mar_Bottom_20 {
    padding-bottom: 20px;
}

a {
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.paddingTB {
    padding: 60px 0;
}

.paddingTB10 {
    padding: 10px 0;
}

.paddingTB60 {
    padding-top: 60px;
}

.P_T_B_50 {
    padding: 50px 0
}

.blueColor {
    color: #1b78da !important
}

.perpColor {
    color: #0f4c8d !important
}

.whiteColor {
    color: #fff !important
}

.mainTitle {
    margin-bottom: 17px;
}

.mainTitle h3 {
    font-size: 16px;
    color: #4F5B60;
    display: inline-block;
}

.btnCustom {
    border: none;
    height: 35px;
    line-height: 35px;
    min-width: 80px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    background: #147ABD;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}

.surveryTitle {
    color: #72848C;
    font-size: 15px;
    margin: 0;
    font-weight: 600;
    letter-spacing: -1px;
}

.moreBtn {
    color: #4DA1FF;
}

.moreBtn:hover {
    color: #707070
}

.dFlexSpace {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.bold {
    font-weight: bold
}

.watch {
    color: #868787;
    font-size: 12px;
}

.maxWidth600 {
    max-width: 600px;

}

/* End Genral */

/* Start preloader*/

.preLoad {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 7, 7, 0.99);
    z-index: 999999;
}

.la-ball-grid-pulse,
.la-ball-grid-pulse > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.la-ball-grid-pulse {
    display: block;
    font-size: 0;
    color: #fff;
}

.la-ball-grid-pulse.la-dark {
    color: #147ABD;
}

.la-ball-grid-pulse > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-ball-grid-pulse {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.la-ball-grid-pulse > div {
    width: 8px;
    height: 8px;
    margin: 2px;
    border-radius: 100%;
    -webkit-animation-name: ball-grid-pulse;
    -moz-animation-name: ball-grid-pulse;
    -o-animation-name: ball-grid-pulse;
    animation-name: ball-grid-pulse;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.la-ball-grid-pulse > div:nth-child(1) {
    -webkit-animation-duration: .65s;
    -moz-animation-duration: .65s;
    -o-animation-duration: .65s;
    animation-duration: .65s;
    -webkit-animation-delay: .03s;
    -moz-animation-delay: .03s;
    -o-animation-delay: .03s;
    animation-delay: .03s;
}

.la-ball-grid-pulse > div:nth-child(2) {
    -webkit-animation-duration: 1.02s;
    -moz-animation-duration: 1.02s;
    -o-animation-duration: 1.02s;
    animation-duration: 1.02s;
    -webkit-animation-delay: .09s;
    -moz-animation-delay: .09s;
    -o-animation-delay: .09s;
    animation-delay: .09s;
}

.la-ball-grid-pulse > div:nth-child(3) {
    -webkit-animation-duration: 1.06s;
    -moz-animation-duration: 1.06s;
    -o-animation-duration: 1.06s;
    animation-duration: 1.06s;
    -webkit-animation-delay: -.69s;
    -moz-animation-delay: -.69s;
    -o-animation-delay: -.69s;
    animation-delay: -.69s;
}

.la-ball-grid-pulse > div:nth-child(4) {
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: -.41s;
    -moz-animation-delay: -.41s;
    -o-animation-delay: -.41s;
    animation-delay: -.41s;
}

.la-ball-grid-pulse > div:nth-child(5) {
    -webkit-animation-duration: 1.6s;
    -moz-animation-duration: 1.6s;
    -o-animation-duration: 1.6s;
    animation-duration: 1.6s;
    -webkit-animation-delay: .04s;
    -moz-animation-delay: .04s;
    -o-animation-delay: .04s;
    animation-delay: .04s;
}

.la-ball-grid-pulse > div:nth-child(6) {
    -webkit-animation-duration: .84s;
    -moz-animation-duration: .84s;
    -o-animation-duration: .84s;
    animation-duration: .84s;
    -webkit-animation-delay: .07s;
    -moz-animation-delay: .07s;
    -o-animation-delay: .07s;
    animation-delay: .07s;
}

.la-ball-grid-pulse > div:nth-child(7) {
    -webkit-animation-duration: .68s;
    -moz-animation-duration: .68s;
    -o-animation-duration: .68s;
    animation-duration: .68s;
    -webkit-animation-delay: -.66s;
    -moz-animation-delay: -.66s;
    -o-animation-delay: -.66s;
    animation-delay: -.66s;
}

.la-ball-grid-pulse > div:nth-child(8) {
    -webkit-animation-duration: .93s;
    -moz-animation-duration: .93s;
    -o-animation-duration: .93s;
    animation-duration: .93s;
    -webkit-animation-delay: -.76s;
    -moz-animation-delay: -.76s;
    -o-animation-delay: -.76s;
    animation-delay: -.76s;
}

.la-ball-grid-pulse > div:nth-child(9) {
    -webkit-animation-duration: 1.24s;
    -moz-animation-duration: 1.24s;
    -o-animation-duration: 1.24s;
    animation-duration: 1.24s;
    -webkit-animation-delay: -.76s;
    -moz-animation-delay: -.76s;
    -o-animation-delay: -.76s;
    animation-delay: -.76s;
}

.la-ball-grid-pulse.la-sm {
    width: 18px;
    height: 18px;
}

.la-ball-grid-pulse.la-sm > div {
    width: 4px;
    height: 4px;
    margin: 1px;
}

.la-ball-grid-pulse.la-2x {
    width: 72px;
    height: 72px;
}

.la-ball-grid-pulse.la-2x > div {
    width: 16px;
    height: 16px;
    margin: 4px;
}

.la-ball-grid-pulse.la-3x {
    width: 108px;
    height: 108px;
}

.la-ball-grid-pulse.la-3x > div {
    width: 24px;
    height: 24px;
    margin: 6px;
}

/*
 * Animation
 */

@-webkit-keyframes ball-grid-pulse {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        opacity: .35;
        -webkit-transform: scale(.45);
        transform: scale(.45);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes ball-grid-pulse {
    0% {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        opacity: .35;
        -moz-transform: scale(.45);
        transform: scale(.45);
    }

    100% {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes ball-grid-pulse {
    0% {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }

    50% {
        opacity: .35;
        -o-transform: scale(.45);
        transform: scale(.45);
    }

    100% {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ball-grid-pulse {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    50% {
        opacity: .35;
        -webkit-transform: scale(.45);
        -moz-transform: scale(.45);
        -o-transform: scale(.45);
        transform: scale(.45);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

/* End preloader*/

/* Start Scroll Up*/

#scroll-top {
    position: relative;
}

#scroll-top i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    position: absolute;
    left: 0;
    top: -60px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background: #39b7c3;
    font-size: 22px;
    transition: .3s ease-in-out
}

#scroll-top i:hover {
    background: rgba(90, 127, 165, 1)
}

/* End Scroll Up*/

/* Start Pagination */

.paginationMain {
    text-align: center
}

.paginationMain .pagination {
    margin: 0
}

.paginationMain .page-link {
    color: #0B6FB2;
}

.paginationMain .page-link:hover {
    color: #fff;
    background-color: #707070;
    border-color: #707070;
}

.paginationMain .twoLink {
    background: #0B6FB2;
    color: #fff
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border: 1px solid transparent;
    margin: 0 5px;
    border-radius: 4px;
}

/* End Pagination */

/* Start Custom Navbar */

.navbar-toggle {
    display: block !important;
    margin-right: 0;
}

.navbar-collapse {
    max-height: 366px;
}

.navbar .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
}

.navbar-nav > li {
    float: none;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

.navbar-header {
    float: none
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navs.navbar-nav > li > a:hover,
.navbar-default .navs.navbar-nav > li > a:focus {
    border-radius: 0
}

ul.nav.navbar-nav.logos {
    margin-top: 0;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    margin-top: 20px;
}

.navbar-toggle {
    display: block !important;
}

.navbar-collapse {
    max-height: 366px;
}

.navbar-toggle {
    margin-right: 0;
}

.navbar .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
}

.navbar-nav > li {
    float: none;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

.navbar-header {
    float: none
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navs.navbar-nav > li > a:hover,
.navbar-default .navs.navbar-nav > li > a:focus {
    border-radius: 0
}

ul.nav.navbar-nav.logos {
    margin-top: 0;
}


.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    margin-top: 20px;
}


.mediaNavbar {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
}

.topNavbar .navbar-toggler {
    display: inline-block !important;
    color: #0B6FB2;
    font-size: 30px;
    padding: 0;
    margin-right: 20px;
    background: transparent;
    float: left
}

.topNavbar .navbar-nav {
    display: block !important
}

.mediaNavbar .nav-item a {
    color: #ffffff;
}


.collapseNav {
    background-color: #147ABD;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    position: fixed;
    left: -400px;
    width: 260px;
    top: 0;
    bottom: 0;
    z-index: 9999999;
    height: 100vh;
    text-align: center;
    max-height: 100vh !important;
    display: flex;
}

.over {
    background-color: rgba(136, 136, 136, 0.5);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 222;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: .5s ease-in-out;
    cursor: pointer;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

.over.active {
    transform: translateX(0);
}



.topNavbar {
    flex: 1
}

.btnChange {
    background: transparent;
    margin-right: 15px;
    border: 1px solid #707070;
    border-radius: 5px;
    width: 40px;
    height: 38px;
    padding: 5px;
}

.btnChange img {
    width: 20px
}

.homeSearch input {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-color: #707070;
    height: 38px;
    line-height: 38px;
}

.homeSearch .btnSearch {
    background: transparent;
    border: 1px solid #707070;
    border-radius: 0 5px 5px 0 !important;
    color: #858585;
    -webkit-border-radius: 0 5px 5px 0 !important;
    -moz-border-radius: 0 5px 5px 0 !important;
    -ms-border-radius: 0 5px 5px 0 !important;
    -o-border-radius: 0 5px 5px 0 !important;
}

.homeSearch .btnSearch:hover,
.homeSearch .btnDropdown:hover {
    color: #ffffff;
    background: #147ABD;
    border-color: #147ABD
}

.homeSearch .dropdown-menu {
    right: 0;
    left: auto;
    border-radius: 0;
    border: 0;
    background: #707070;
    padding: 0
}

.btnDropdown {
    background: transparent;
    border: 1px solid #707070;
    border-left: 0;
    border-right: 0;
    color: #858585;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    height: 100%;
}

/* End Custom Navbar */

/* Start Top Header */

header {
    background: #147ABD;
    color: #fff;

    padding: 4px 0;
}

.profile {
    position: relative;
}

.profile .dropdown-menu {
    left: 0;
    right: auto !important;
    padding: 0;
    top: 2px !important;
    border-radius: 0;
    border: 0;
    background: #707070;
    transform: translate3d(0, 32px, 0px);
    -webkit-transform: translate3d(0, 32px, 0px);
    -moz-transform: translate3d(0, 32px, 0px);
    -ms-transform: translate3d(0, 32px, 0px);
    -o-transform: translate3d(0, 32px, 0px);
}

.profile .dropdown-toggle::after {
    display: none
}


.profileHeader li a,
.homeSearch .dropdown-menu a {
    padding: 5px 10px;
    display: block;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #fff
}

.profileHeader li:last-child a,
.homeSearch .dropdown-menu a:last-child {
    border: 0
}

.profileHeader li a:hover,
.homeSearch .dropdown-menu a:hover {
    background: #147ABD;
    color: #fff
}

.profileNav span {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    display: inline-block;
}

.language {
    text-align: right
}

.language ul li {
    display: inline-block;
    margin-left: 15px;
}

.language a {
    color: #fff;
    font-size: 16px;
    display: inline-block;
}

.language a img {
    margin-left: 10px;
}

.dayCalendar {
    font-size: 10px;
    margin-left: 2px;
}

.timeHeader {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

/* End Top Header */

/* Start mainTitle */

.breadCrumb {
    margin-bottom: 15px;
}

.breadTitle .breadcrumb {
    background: transparent;
    padding: 0;
    padding-left: 15px;
    position: relative;
    margin-bottom: 0
}

.breadTitle .breadcrumb:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: #0B6FB2;
}

.breadTitle .breadcrumb a {
    color: #707070;
    display: inline-block;
    font-size: 14px;
}

.breadcrumb-item + .breadcrumb-item::before {

    content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 5px;
    padding-left: 5px;
}

/* End mainTitle */

/* Start header */

.header-top ul li {
    display: inline-block;
    margin-top: 15px;
}

.social {
    text-align: left
}

.social li {
    margin-left: 1px;
}

.social li a {
    font-size: 14px;
    display: block;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 26px;
}

.social li a:hover {
    transform: rotate(360deg);
}

.header-top ul li i {
    color: #fff
}

.social li a i {
    color: #ababab
}

.phone li {
    margin-left: 10px !important;
    font-family: 'Open Sans' !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: 0;
    box-shadow: none
}

.navbar-default .navbar-toggle {
    border: 0;
    font-size: 30px;
    cursor: pointer;
    color: #5a7fa5
}

.navbar-default .navbar-toggle:hover {
    background: transparent
}

.navbar-toggle {
    margin-top: 15px
}

.navbar-default {
    background: #fff;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    margin-bottom: 0
}

.navbars {
    /* background: rgba(90, 127, 165, 0.96); */
    border: 0;
    box-shadow: 0 0 4px 2px rgba(15, 79, 146, 0.1);
    /* padding-top: 8px;
    padding-bottom: 8px; */
}

.navbar-nav > li > a {
    padding: 0;
}

.navbar-brand {
    padding: 0px;
    height: auto;
}

.mainNavbar .dropdown-menu {
    top: 58px;
    padding: 0;
    border-radius: 0
}

.mainNavbar .dropdown-menu > li > a:focus,
.mainNavbar .dropdown-menu > li > a:hover {
    background-color: #5a7fa5 !important;
    color: #fff !important;
}

.logoFixed {
    display: none !important
}

.navbars .logoFixed {
    display: block !important
}

.navbars .logoMain {
    display: none !important
}

.main-slider {
    position: absolute;
    bottom: -71px;
    left: 80px;
    width: 313px
}



/* End header */

/* Start Survey  */

.survey {
    border: 1px solid rgba(112, 112, 112, 0.18);
    border-radius: 8px;
    padding: 10px 12px;
    margin-bottom: 25px;
    box-shadow: 0 0 15px 0px rgba(112, 112, 112, 0.18);
}

.announcementsBlock .surveyBody {
    height: 350px;
    overflow: auto;
}

.surveyHome {
    height: 314px;
    overflow: auto;
}

.newsSurvey .surveyBody {
    padding: 0;
}

.newsSurveyTitle {
    border-bottom: 1px solid #ECF2F5;
    padding-bottom: 10px;
}

.surveyBody {
    margin-top: 10px;
    padding: 0 15px;
}

.surveyBody li {
    border-top: 1px solid #ECF2F5;
    padding: 10px 0;
}

.surveyBody li a {
    display: inline-block;
    color: #4F5B60;
    font-size: 13px;
    line-height: 28px
}

.surveyBody li a:hover {
    color: #147ABD
}

.surveyBody li span {
    display: block;
    color: #97A9B2;
    font-size: 11px;
    margin-top: 10px;
}


.generalizations .surveyBody li span {
    color: #72848C;
    line-height: 22px
}

.newSlider {
    border: 1px solid rgba(112, 112, 112, 0.18);
    border-radius: 8px;
    overflow: hidden;
}

.newSlider .item {
    position: relative;
    height: 300px;
    overflow: hidden;
    text-align: left
}

.newSlider .newFooter {
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
}

.newSlider .newBody {
    padding: 15px;
    background: #fff;
}

.newSlider .item img {
    width: 100%;
    height: 100%
}

.newSlider .item h5 {
    color: #0D8ABE;
    font-size: 13px;
    height: 16px;
    overflow: hidden;
    margin-right: 20px;
}

.newSlider .item span {
    color: #72848C;
    font-size: 13px;
    /* height: 35px; */
    overflow: hidden;
    margin-right: 30px;
    line-height: 20px;

}

.newSlider .item span.btnCustom {
    color: #fff;
    margin: 0;
    height: 35px;
    line-height: 35px;
}

.item .surveyNumber span {
    background: rgba(0, 0, 0, 0.397);
    color: #fff;
    font-size: 25px;
    display: block;
    margin: 0;
    padding: 10px 40px 10px 10px;
    text-align: right;
    font-weight: 600;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.newSlider .item:hover .surveyNumber span {
    background: rgba(0, 0, 0, 0.8)
}

.newSlider .owl-nav {
    position: absolute;
    top: 192px;
    color: #fff;
    right: 15px;
    font-size: 30px;
}

.newSlider .owl-prev,
.newSlider .owl-next {
    display: inline-block;
    margin: 0 11px;
}


/* End Survey  */

/* Start Generalizations */

.typeGeneralization .tGeneralization {
    color: #1875BE !important;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 13px;

    font-weight: bold;
}

.typeGeneralization .clockGeneralization {
    margin-top: 0;
    margin-bottom: 10px;

    color: #97A9B2 !important;
}

/* End Generalizations*/

/* Start Offers */

.newOffer {
    border: 1px solid rgba(112, 112, 112, 0.18);
    border-radius: 0 0 8px 8px;
    margin-bottom: 10px;
    /* height: 340px; */
    overflow: hidden;
    text-align: left
}

.newOffer img {
    width: 100%;
    height: 190px;
}

.offerFooter {
    padding: 15px 10px;

    position: relative;
}

.offerFooter:before {
    content: '';
    background: #707070;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 300px;
    bottom: 0;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    z-index: -1
}

.newOffer:hover .offerFooter:before {
    top: 0
}

.newOffer:hover .offerFooter h3,
.newOffer:hover .offerFooter span,
.newOffer:hover .offerFooter .moreBtn,
.newOffer:hover .offerFooter p {
    color: #fff !important;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.offerFooter h3 {
    font-size: 13px;
    color: #323C47;
    margin-bottom: 4px;
}

.offerFooter span {
    display: block;
    color: #97A9B2;
    font-size: 12px;
    margin-bottom: 15px;
}

.offerFooter .moreBtn {
    color: #4DA1FF;
    font-size: 13px !important;
    margin-bottom: 0 !important;
    float: none;
    text-align: right;
    font-weight: bold;
}

.offerFooter p {
    margin-bottom: 5px;
    color: #939EAB;
    font-size: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 33px;
}

.offersBlock .surveyBody {
    border-top: 1px solid #ECF2F5;
    padding: 0;
    padding-top: 10px;
}

.newOfferBlock {
    height: 326px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}

.newOfferBlock img {
    height: 340px;
    width: 100%;
}

.newOfferDetails {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0, rgba(26, 118, 183, 0.4), rgba(80, 203, 255, 0.6));
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
}



.newOfferDetails span {
    position: absolute;
    bottom: 25px;
    width: 100px;
    left: 24px;
    color: #fff;
    font-size: 20px;
}


.offerSlider .owl-next {
    position: absolute;
    left: -60px;
    bottom: 35px;
    font-size: 20px;
    color: #fff;
}

.offerSlider .owl-prev {
    display: none !important
}

/* End Offers */

/* Start Footer */

footer {
    background: #147ABD;
    padding: 5px 0;
}

footer li a {

    display: block;
    font-size: 20px;
    color: #fff;
    margin-right: 6px;
}

footer li a i {
    background: #fff;
    color: #147ABD;
    width: 34px;
    height: 34px;
    line-height: 34px !important;
    text-align: center;
    display: block !important;
    border-radius: 50%;
}

footer p {
    color: #fff;
    font-size: 15px;
    text-align: right;
    padding-top: 6px;
}

/* End Footer */

/* Start News */

.news {
    padding-bottom: 25px;
    min-height: 428px;
}

/* .newHeader {
    background: #707070
} */

.newHeader img {
    width: 100%;
    height: 140px;
}

.newsBody {
    overflow: hidden;
    border: 1px solid rgba(112, 112, 112, 0.18);
    box-shadow: 0 0 11px 1px rgba(11, 111, 178, 0.22);
    margin-bottom: 25px
}

.newsFooter {
    padding: 10px;
    position: relative;
}

.newsFooter:before {
    content: '';
    background: #707070;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 300px;
    bottom: 0;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    z-index: -1;
}

.newsBody a:hover .newsFooter:before {
    top: 0
}

.newsFooter h4,
.newsFooter li i,
.newsFooter li span,
.newsFooter p {
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.newsBody a:hover .newsFooter h4,
.newsBody a:hover .newsFooter li i,
.newsBody a:hover .newsFooter li span,
.newsBody a:hover .newsFooter p {
    color: #fff
}

.newsFooter h4 {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 4px;
    height: 12px;
    overflow: hidden;
    color: #0B6FB2
}


.newsFooter ul {
    margin-bottom: 5px;
}

.newsFooter li {
    display: inline-block;
    margin-right: 5px;
}

.newsFooter li:last-child {
    margin: 0;
}

.newsFooter li i {
    color: #B1B1B1;
    font-size: 13px;
}

.newsFooter li span {
    color: #868787;
    font-size: 10px;
}

.newsFooter p {
    color: #707070;
    font-size: 12px;
    height: 18px;
    overflow: hidden;
}

.sliderProImg {
    margin-left: 30px;
    border: 1px solid #ddd;
    padding: 5px 65px;
}

.sp-left-thumbnails .sp-thumbnail-container {
    direction: ltr
}

.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail .newsBody,
.sp-selected-thumbnail .newsBody {
    border: 2px solid #147ABD
}

.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:after,
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after,
.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:before,
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {

    display: none
}

.sp-left-thumbnails.sp-has-pointer .sp-thumbnail {
    position: absolute;
    left: 10px;
    margin-left: 0 !important;
    right: 0;
}


.newSliderDetails .newsFooter h3 {
    font-size: 14px;
    color: #707070
}

.newSliderDetails .newsFooter:before {
    display: none
}

.shareBlock button {
    background: transparent;
    cursor: pointer;
    color: #BCBBBB;
    font-size: 12px;
    font-weight: 600;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.shareBlock button:hover {
    color: #147ABD
}

.newSliderDetails .item img {
    width: 100%px;
    height: 340px;
    margin: auto;
}


.sliderNews .owl-nav .owl-prev,
.sliderNews .owl-nav .owl-next {
    display: block !important;
}

.sliderNews .owl-prev:after,
.sliderNews .owl-next:after {
    position: absolute;
    font-family: FontAwesome;
    top: 0;
    font-size: 29px !important;
    color: #555;
}

.sliderNews .owl-nav i {
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.sliderNews .owl-nav i:hover {
    background-color: #147ABD;
    color: #fff
}

.sliderNews .owl-prev,
.sliderNews .owl-next {
    display: inline-block;
    z-index: 999;
    opacity: 1;
    position: absolute;
}

.sliderNews .owl-prev {
    right: 30px;
    top: 50%;
}

.sliderNews .owl-next {
    left: 30px;
    top: 50%;
}

.sliderNews .owl-prev i,
.sliderNews .owl-next i {
    background: rgba(0, 0, 0, 0.28);
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 0;
    text-align: center;
    line-height: 35px;
}

.shareBlock {
    margin: 15px 0;
}

.newsType {
    margin-top: 15px
}

.newsType h5 {
    font-size: 14px;
    color: #707070;
    margin-bottom: 15px
}

.newsType span {
    margin-right: 5px
}

.newsType p {
    font-size: 14px;
    color: #707070
}

.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
    display: none;
}



/* End News */

/* Start Filter Search */

.filterSearch span {
    display: inline-block;
    color: #147ABD;
    font-size: 10px;
    font-weight: bold
}

.filterSearch .form-control {
    width: 70px;
    padding: 5px;
    font-size: 10px;
    height: 30px !important;
    line-height: 30px !important;
    border-color: #707070;
}

.filterSearch .searchInput {
    width: 130px
}

.filterSearch li {
    margin-right: 10px;
}

.filterSearch li:last-child {
    margin: 0;
}

.filterSearch .custom-control-label {
    font-size: 10px;
    cursor: pointer;
    color: #147ABD;
    font-weight: bold
}

.filterSearch {
    margin-bottom: 5px;
}

/* End Filter Search */

/* Start  Announcements */

.dataTable td {
    color: #147ABD;
    font-size: 13px;
    vertical-align: middle;
}

.dataTable a {
    color: #147ABD;
}

.btnDownload {
    border: 1px solid;
    display: inline-block;
    text-align: center;
    padding: 2px 3px;
    font-weight: bold;
    overflow: hidden;
    background: transparent;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.dataTable p {
    color: #868787;
    font-size: 12px;
}

.announcement {
    margin-bottom: 20px
}

.announcement .card {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border: 1px solid rgba(0, 0, 0, .125)
}

.announcement .card-header {
    background: #fff;
    padding: 1px;
    border: 0
}

.announcement .surveyList {
    padding: 10px
}

.announcement .card-header button {
    width: 100%;
    text-align: left;
    background: #fff;
    white-space: unset;
}

.announcement .card-header .surveyList h5 {
    font-size: 20px;
    color: #147ABD;
    margin-bottom: 10px;
}

.angleDown {
    font-size: 20px;
    color: #147ABD
}

.announcement .btnDownload {
    min-width: 75px;
    margin-left: 10px
}

.announcement .card-body {
    background: #F8F5F5;

    padding: 15px;
}

.announcement .card-body p {
    color: #147ABD;
    font-size: 14px
}

/* End Announcements */

/* End Survey Question */

.surveyQuestion .surveyBody {
    border-top: 1px solid #ECF2F5;
    padding: 0;
    padding-top: 10px;
}

.surveyQuestion h6 {
    display: block;
    color: #147ABD;
    font-size: 13px;
    margin-bottom: 15px
}

.surveyQuestion .form-group {
    margin-bottom: 25px;
}

.surveyQuestionItem .custom-control {
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 15px;
}

.surveyQuestionItem .custom-control:last-child {
    margin-right: 0
}

.surveyQuestion .form-control {
    font-size: 12px
}


.surveyQuestionItem label {
    color: #707070;
    font-size: 12px;
    cursor: pointer;

    font-weight: normal;
}

.mainSurveyBlock {
    border: 1px solid rgba(112, 112, 112, 0.18);
    border-radius: 8px;
    margin-bottom: 25px;
    box-shadow: 0 0 15px 0px rgba(112, 112, 112, 0.18);
}

.surveyList {
    padding: 20px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.18);
}

.surveyList:last-child {
    border: 0
}

.mainSurveyBlock h5 {
    color: #0b6fb2;
    font-size: 14px;
    margin-bottom: 10px;
}

.surveyList .watch li {
    display: inline-block;
    margin-right: 25px
}

.surveyList .btnCustom {
    min-width: 120px;
}

/* End Quetion */

/* Start Change arrow */

.fa-angle-right:before {
    content: "\f104";
}

.fa-angle-left:before {
    content: "\f105";
}

/* End Change arrow */

/* Start Calendars  */

.calendars-nav,
.calendars-ctrl {
    background-color: #147ABD;
}

.calendars-month td .calendars-highlight,
.calendars-month td .calendars-today {
    background-color: #147ABD;
    color: #fff
}

.calendars-nav,
.calendars-ctrl {
    font-weight: 100;
    font-family: 'cairo';
}

.calendars-month-header,
.calendars-month-header select,
.calendars-month-header input {

    font-weight: 100;
    font-family: 'cairo';
    font-size: 11px;
    height: 22px;
    line-height: 22px;
}

.calendars-month span {
    display: block;
    width: 100%;
    padding: 2px 0;
    font-family: 'cairo';
}

.calendars-cmd:hover,
.calendars-ctrl .calendars-cmd:hover {
    background-color: #707070;
    color: #fff;
}

/* End Calendars  */

/* Start add new edit */

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-wrap {
    flex-wrap: wrap
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-append,
.input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-group-prepend {
    margin-right: -1px;
}

.topNavbar .navbar-brand {
    float: left;
}

.dropdown-toggle-split::after {
    margin-left: 0;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 20px;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #007bff;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #007bff;
}

.custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url(../images/download.svg);
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-radio .custom-control-label::before {
    border-radius: 50%;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url(../images/check.svg);
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* End add new edit */
